html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden {
    display: none;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    max-height: 58vh
}

.test {
    padding: 0em 0em 0.5em 0em;
    position: sticky;
    top: 30px
}

.rounded-xl {
    border-radius: .5rem !important;
}

.close {
    position: absolute;
    right: 1rem;
}

.textContainer {
    height: 45px;
    line-height: 40px;
}

.textContainer p {
    vertical-align: middle;
    display: inline-block;
}
