@model ModuleDetailsViewModel

<h1 class="text-center">Module Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
