@page
@model RegisterModel
@inject ICourseSelectListService courseListService

<div class="container">
    <h1 class="text-center col-md-4 offset-4 text-wrap">Add New User</h1>
    <div class="row">
        <div class="col-md-4 offset-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h3>Please select what kind of user.</h3>
                <hr />
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="teacherRadioBtn" >
                  <label class="form-check-label" for="teacherRadioBtn">
                    Teacher
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="studentRadioBtn" checked >
                  <label class="form-check-label" for="studentRadioBtn">
                    Student
                  </label>
                </div>
                <div id="hiddenForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Input.Role" value="Student" id="userRole"/>
                    <div class="form-floating mt-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating my-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3" id="courseSelect">
                        <select class="form-select inputField" name="Input.CourseId"
                            asp-items="@await courseListService.GetSelectListAsync()">
                            <option selected="selected" value="">Select a course</option>
                        </select>
                        <label asp-for="Input.CourseId"></label>
                        <span asp-validation-for="Input.CourseId" class="text-danger"></span>
                    </div>
                    <div>
                        <a asp-controller="Courses" asp-action="IndexTeacher" class="btn btn-lg btn-danger float-start">Cancel</a>
                        <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary float-end">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("input[type='radio']").on("change", function(){
                radioBtnChanged(this);
            });
        });

        function radioBtnChanged(e) {
            $("#hiddenForm").removeClass("hidden");
        
            if (e.id == "teacherRadioBtn") {
                $("#userRole").val("Teacher");
                $("#courseSelect").addClass("hidden");
            }
            else if (e.id == "studentRadioBtn") {
                $("#userRole").val("Student");
                $("#courseSelect").removeClass("hidden");
            }
        }
    </script>
}
